<%= render "template_top", :title => @challenge.name %>

  <p><%= @membername %>,</p>

  <% if @waiting_review %>
		<p>This challenge has been scored but is waiting to be reviewed before the results are made public. You can access all of the code, videos and documentation <a href="http://www.cloudspokes.com/challenges/<%= @challenge.challenge_id %>/all_submissions">here</a>.</p> 
  <% else %>
		<p>This challenge has been scored and winner(s) have been selected. You can <a href="http://www.cloudspokes.com/challenges/<%= @challenge.challenge_id %>/results">view the winners here</a> and access all of the code, videos and documentation <a href="http://www.cloudspokes.com/challenges/<%= @challenge.challenge_id %>/all_submissions">here</a>.</p> 
	<% end %>

	<p>Number of submissions: <%= @challenge.submissions.to_i %><br/>
	Number of <% if @challenge.community_judging %>(community) <% end %>reviewers: <%= @challenge.number_of_reviewers.to_i %><br/>
	Prize money available: <%= number_to_currency(@challenge.total_prize_money, :precision => 0) %><br/> 
	Prize money awarded: <%= number_to_currency(@challenge.prize_money_paid, :precision => 0) %></p>

<%= render "template_bottom" %>