<%= render "template_top", :title => @challenge.name %>

  <p><%= @membername %>,</p>

  <% if @challenge.submissions.to_i > 0 %>

		<p>The status of this challenge has been changed to "Review" and scorecards for all reviewers have been generated.</p>

		<p>Number of submissions: <%= @challenge.submissions.to_i %><br/>
		Number of reviewers: <%= @challenge.number_of_reviewers.to_i %><br/>
		<% if @challenge.community_judging %>
			Scorecards are due: <%= Date.parse(@challenge.review_date).strftime("%m/%d/%Y") %><br/>
		<% end %>			
		Winners to be announced: <%= Date.parse(@challenge.winner_announced).strftime("%m/%d/%Y") %></p>

		<p>You can view and download all files that were submitted <a href="http://www.cloudspokes.com/challenges/<%= @challenge.challenge_id %>/all_submissions">from here</a>. Reviewers will find their scorecards for the submissions to be scored on their <a href="http://www.cloudspokes.com/judging/outstanding-reviews">Outstanding Reviews page</a>.</p>

	<% else %>
		<p>The status of this challenge has been changed to "Review", however there were no submissions for this challenge.</p>
	<% end %>

<%= render "template_bottom" %>