<%= render "template_top", :title => @challenge.name %>

  <p><%= @membername %>,</p>

  <p>You are marked as a contact or judge for this challenge and we want to let you know that it just went up onto the <a href="http://www.cloudspokes.com/challenges">CloudSpokes site</a> for members to see and participate in.</p>

	<p>If you are also responding to developers' questions on the challenge discussion board, please watch for any emails as they are time sensitive. Please respond to them in a timely manner as this information is vital to them completing the challenge.</p>

	<p>Once the deadline for submissisons passes and the challenge closes, you will receive an email on how to view the submissions and access the submitted code.</p>

	<p><b><%= @challenge.name %></b><br/>
	Deadline for submissions: <%= DateTime.parse(@challenge.end_date).strftime("%B %e, %Y at %I:%M%p") %><br/>
	http://www.cloudspokes.com/challenges/<%= @challenge.challenge_id %></p>

	<% if @challenge.community_judging %>
		<p style="color: red">Judges scorecards are due by <%= Date.parse(@challenge.review_date).strftime("%m/%d/%Y") %>.</p>	
	<% end %>		

<%= render "template_bottom" %>