<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
		a.button_big {
			background: none repeat scroll 0 0 #EEEEEE;  
		  float: left;   
			border-radius: 5px 5px 5px 5px;
		  color: #408CBF;
		  display: block;
		  font-size: 18px;  
			margin: 0 4px;
		  padding: 8px 12px;
		  text-decoration: none;
		  text-transform: lowercase;
		}    
    </style>
  </head>
  <body>
	<table with="100%" cellpadding="2" cellspacing="2">
	<tr>
		<td><a href="http://www.cloudspokes.com"><img src="https://s3.amazonaws.com/cs-public/email_images/cloudspokes-logo.png" width="75"></a></td>
		<td><h2><%= @subject %></h2></td>
	</tr>
	</table>

  <p>
	<a href="http://www.cloudspokes.com/members/<%= @from_member['membername'] %>"><%= @from_member['membername'] %></a> has sent you a new private message at CloudSpokes.
  </p>

	<table cellpadding="5" cellspacing="5">
	<tr>
		<td>&nbsp;</td>
		<td><img src="<%= @from_member['profile_pic'] %>" width="75"></a></td>
		<td><em><b><%= raw(@body) %><b></em></td>
	</tr>	
	</table> 

	<br/><a class="button_big" href="http://www.cloudspokes.com/messages">Reply to this message</a><br/><br/><br/>

	<p>You can <a href="http://www.cloudspokes.com/account">change your notification settings</a> to determine how you receive these messages.</p>
		
  <h3 style="padding-top:25px">Follow Us!</h3>
	<table cellpadding="2" cellspacing="2">
	<tr>
		<td><a href="http://www.github.com/cloudspokes"><img src="https://s3.amazonaws.com/cs-public/email_images/github_64.png"></a></td>
		<td><a href="http://www.twitter.com/cloudspokes"><img src="https://s3.amazonaws.com/cs-public/email_images/twitter_64.png"></a></td>
		<td><a href="http://www.facebook.com/cloudspokes"><img src="https://s3.amazonaws.com/cs-public/email_images/facebook_64.png"></a></td>
		<td><a href="http://www.youtube.com/cloudspokescommunity"><img src="https://s3.amazonaws.com/cs-public/email_images/youtube_icon.png" width="59" style="padding-left:5px;padding-top:3px"></a></td>
		<td><a href="http://blog.cloudspokes.com"><img src="https://s3.amazonaws.com/cs-public/email_images/blogicon.png" width="55" style="padding-left:10px;padding-top:4px"></a></td>
		<td><a href="http://www.cloudspokes.com/challenges/feed"><img src="https://s3.amazonaws.com/cs-public/email_images/rss_icon.png" width="57" style="padding-left:10px;padding-top:3px"></a></td>
	</tr>
	</table>

	<p><a href="http://www.cloudspokes.com">http://www.cloudspokes.com</a></p>

  </body>
</html>