<%= render "template_top", :title => @subject %>

  <p>
	<a href="http://www.cloudspokes.com/members/<%= @from_member['membername'] %>"><%= @from_member['membername'] %></a> has sent you the following private message at CloudSpokes:
  </p>

	<table cellpadding="5" cellspacing="5">
	<tr>
		<td>&nbsp;</td>
		<td style="vertical-align:top;"><img src="<%= @from_member['profile_pic'] %>" width="75"></a></td>
		<td><em><%= raw(@body) %></em></td>
	</tr>	
	</table> 

	<p><a href="http://www.cloudspokes.com/messages/<%= @private_message_id %>"><img src="http://cs-public.s3.amazonaws.com/email_images/reply-to-message.png" alt="reply to this message"></a></p>
		
  <%= render "followus" %>

	<p><a href="http://www.cloudspokes.com">http://www.cloudspokes.com</a></p>

  </body>
</html>